on boot
    chown system system /sys/class/touch/touch_dev/panel_orientation
    chmod 0664 /sys/class/touch/touch_dev/panel_orientation
    chown system system /sys/class/touch/touch_dev/grip_rejection
    chmod 0664 /sys/class/touch/touch_dev/grip_rejection
